*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial;
    color: rgb(100, 107, 117, 1);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 120px auto;
}

.container .item{
    width: 380px;
    height: 500px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
}

.item_txt{
    margin: 20px; 
    line-height: 2.1;
    word-spacing: 4px;
}

.item:last-child{
    box-shadow: none;
}

.item_txt .benefit{
    line-height: 2.5;
}

.item_txt .tag{
    color: #707070;
    font-size: 14px;
    padding: 3px 10px;
    background-color: #e0ffff;
    font-weight: 600;
    border-radius: 15px;
}

.item_txt .tag_sea{
    background-color: #00faf6;
}

.item_txt .tag_food{
    background-color: #e6fcf5;
}

h2, h3{
    font-weight: 600;
    font-size: 22px;
    color: #333333;
}

h2{
    margin-left:30px;
    margin-bottom: 35px;
}

ion-icon{
    color: rgb(184 221 233); 
    margin-right: 14px;
    font-size: 25px;
}

.icon-row{
    display: flex;
    align-items: center;
}















